@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.secondary {
  @include main-button;
  background-color: transparent;
  color: $scheme-navy-blue;
  text-decoration: none;

  &:hover {
    border: 1px solid $scheme-dark-blue;
    background-color: $scheme-dark-blue;
    color: $scheme-white;
  }
}

.primary {
  @include main-button;
  background-color: $scheme-navy-blue;
  color: $scheme-white;
  text-decoration: none;

  &:hover {
    border: 1px solid $scheme-dark-blue;
    background-color: $scheme-dark-blue;
  }
}
