@import "../../styles/variables.scss";

.skillsListContainer {
  flex: 1;
  display: none;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 0 2rem;

  @media (min-width: 900px) {
    display: flex;
  }

  @media (min-width: 1024px) {
    padding: 0 3rem;
  }
}

.skillsList {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  overflow: unset;

  li {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: $scheme-gold;
    color: $scheme-white;
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    border: 1px solid $scheme-gold;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.2rem $scheme-dark-gray;
    overflow: unset;
  }
}
