@use "../../styles/variables.scss" as *;

.app {
  width: 100vw;
  height: 100vh;
  background-color: $scheme-navy-blue;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;

  @media (min-width: 600px) {
    align-items: center;
    padding: 1rem;
  }
}
