.imageContainer {
  display: none;
  justify-content: end;
  align-self: stretch;
  padding: 0 2rem;

  @media (min-width: 900px) {
    display: flex;
  }

  @media (min-width: 1024px) {
    padding: 0 3rem;
  }

  img {
    width: auto;
    height: auto;
    align-self: flex-start;
    border: 1px solid transparent;
    border-radius: 1rem;
  }
}
