@use "../../styles/variables.scss" as *;

.imageContainer {
  display: none;
  justify-content: center;
  align-self: stretch;
  padding: 0 2rem;
  width: 50%;

  @media (min-width: 900px) {
    display: flex;
  }

  @media (min-width: 1024px) {
    padding: 0 3rem;
  }

  img {
    width: 300px;
    height: auto;
    align-self: center;
    justify-self: flex-end;
    border: 1px solid $scheme-dark-gray;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem $scheme-dark-gray;
  }
}
