.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  @media (min-width: 900px) {
    flex-direction: row;
    align-items: stretch;
  }
}
